<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
">

	<bean class="com.app.bean.Student" name="stud" p:rollNo="101"
		p:sName="Singh" p:sAddr="Khandwa" />

	<bean class="com.app.bean.Student" name="std1">
		<property name="rollNo" value="102"></property>
		<property name="sName" value="Shakti" />
		<property name="sAddr">
			<value>Khandwa</value>
		</property>
	</bean>

</beans>